<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <title>{{.app.title}}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="/static/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/theme-1.css">

</head>

<body>

<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="/">{{.app.title}}</a></h1>
    <h6 class="pt-lg-4 mb-0 text-white">{{.app.subtitle}}</h6>

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{{.app.logoimg}}"
                     alt="image">

                <div class="bio mb-3">{{.app.intro}}<br><a href="/about">关于我和本站的信息</a></div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://github.com/sea1812" target="_blank"><i
                                    class="fab fa-github-alt fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link active" href="/"><i class="fas fa-home fa-fw me-2"></i>首页 <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw me-2"></i>分类 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw me-2"></i>关于 </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="main-wrapper">

    {{ include .contentTpl . }}


    <footer class="footer text-center py-2 theme-bg-dark">
        <small class="copyright"><a href="https://beian.miit.gov.cn/">{{.app.beian}}</a></small><br>
        <small class="copyright"><a target="_blank"
                                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{.app.gongan}}">{{.app.gongan_title}}{{.app.gongan}}
                号</a></small><br>
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <!--small class="copyright">模版由<span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i>Xiaoying Riley设计，来自themes.3rdwavemedia.com</small-->
    </footer>

</div><!--//main-wrapper-->


<!-- Javascript -->
<script src="/static/assets/plugins/popper.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>

